@import 'tailwindcss';

:root {
  --foreground: #ededed;
  /*background-image: url('/portfoliomax/public/images/background.png');*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'tusker-semibold';
  src: url('/fonts/TuskerGrotesk-2600Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'underdog';
  src: url('/fonts/Underdog-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue-medium';
  src: url('/fonts/Neue/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    /* background-image: url('/images/background.png'); */
  }
}

body,
html {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* styles/globals.css o tu archivo principal de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-neon-glow {
    color: #d6b618;
    text-shadow:
      0 0 5px #d6b618,
      0 0 10px #d6b618,
      0 0 20px #d6b618,
      0 0 40px #d6b618;
  }

  .text-neon-glow-animated {
    color: #d6b618;
    animation: neon-glow 1.5s infinite alternate;
    text-shadow:
      0 0 5px #d6b618,
      0 0 10px #d6b618,
      0 0 20px #d6b618,
      0 0 40px #d6b618;
  }

  @keyframes neon-glow {
    0% {
      text-shadow:
        0 0 5px #d6b618,
        0 0 10px #d6b618,
        0 0 20px #d6b618,
        0 0 40px #d6b618;
    }

    50% {
      text-shadow:
        0 0 10px #d6b618,
        0 0 20px #d6b618,
        0 0 30px #d6b618,
        0 0 60px #d6b618;
    }

    100% {
      text-shadow:
        0 0 5px #d6b618,
        0 0 10px #d6b618,
        0 0 20px #d6b618,
        0 0 40px #d6b618;
    }
  }
}

.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  padding-left: 4.8rem;
  gap: 4.8rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite var(--direction, forwards);
}

.marquee-text p {
  border: 1px solid white;
  background-color: #141414;
  border-radius: 999px;
  padding: 1rem 2.5rem;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  max-width: 100%;
  overflow: hidden;
  --speed: 25s;
  --item-width: 10%;
  --item-gap: 1rem;
  --num-items: 5;

  --single-slide-speed: calc(var(--speed) / var(--num-items));
  --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
  --track-width: calc(var(--item-width-plus-gap) * var(--num-items));
}

.marquee-track {
  display: flex;
  gap: var(--item-gap);
  animation: marquee-move var(--speed) linear infinite;
}

.marquee-item {
  width: var(--item-width);
  aspect-ratio: 1/1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  flex-shrink: 0;
  /* Evita que los ítems se reduzcan */
}

.marquee-item svg {
  height: auto;
  width: 60%;
}

@keyframes marquee-move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
