@import "tailwindcss";

:root {
  --foreground: #ededed;
  /*background-image: url('/portfoliomax/public/images/background.png');*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'tusker-semibold';
  src: url('/fonts/TuskerGrotesk-2600Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'underdog';
  src: url('/fonts/Underdog-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue-medium';
  src: url('/fonts/Neue/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    /* background-image: url('/images/background.png'); */
  }
}

body,
html {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* styles/globals.css o tu archivo principal de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-neon-glow {
    color: #d6b618;
    text-shadow:
      0 0 5px #d6b618,
      0 0 10px #d6b618,
      0 0 20px #d6b618,
      0 0 40px #d6b618;
  }

  .text-neon-glow-animated {
    color: #d6b618;
    animation: neon-glow 1.5s infinite alternate;
    text-shadow:
      0 0 5px #d6b618,
      0 0 10px #d6b618,
      0 0 20px #d6b618,
      0 0 40px #d6b618;
  }

  @keyframes neon-glow {
    0% {
      text-shadow:
        0 0 5px #d6b618,
        0 0 10px #d6b618,
        0 0 20px #d6b618,
        0 0 40px #d6b618;
    }

    50% {
      text-shadow:
        0 0 10px #d6b618,
        0 0 20px #d6b618,
        0 0 30px #d6b618,
        0 0 60px #d6b618;
    }

    100% {
      text-shadow:
        0 0 5px #d6b618,
        0 0 10px #d6b618,
        0 0 20px #d6b618,
        0 0 40px #d6b618;
    }
  }
}